/*
  Use the following to include this css file
  <link rel="stylesheet" href="styles1.css" />
*/
* {
    font: verdana;
  }
  
  body {
    background-color: beige;
    text-align: center;
  }
  
/*CSS COMMENTS*/
  
       /*This is a single line comment*/
       
       /*
       This is a multi-line 
       comment
       */
   
/*CSS COLORS*/
      /*CSS Background Color*/
         h1#BC {
           background-color: dodgerblue;
         }
         
         p#BC {
           background-color: tomato;
         }
         
      /*CSS Text Color*/
       h1#TC {
         color: Tomato;
       }
       
      p#TC {
        color: blue;
      }
      
      /*CSS Border Color*/
       h1#BrC {
         border: 1px solid Tomato;
       }
       
      p#BrC {
        border: 2px solid blue;
      }
/* CSS BACKGROUNDS */
/* CSS BORDERS */
/* CSS MARGINS */
/* CSS PADDING */
/* CSS HEIGHT/WIDTH */
/* CSS BOX MODEL */
/* CSS OUTLINE */
/* CSS TEXT */
/* CSS FONTS */
/* CSS ICONS */
/* CSS LINKS */
/* CSS LISTS */
/* CSS TABLES */
/* CSS DISPLAY */
/* CSS MAX-WIDTH */
/* CSS POSITION */
/* CSS Z-INDEX */
/* CSS OVERFLOW */
/* CSS FLOAT */
/* CSS INLINE-BLOCK */
/* CSS ALIGN */
/* CSS COMBINATORS */
/* CSS PSEUDO-ELEMENT */
/* CSS OPACITY */
/* CSS NAVIGATION BAR */
/* CSS DROPDOWNS */
/* CSS IMAGE GALLERY */
/* CSS IMAGE SPRITES */
/* CSS ATTR SELECTORS */
/* CSS FORMS */
/* CSS COUNTERS */
/* CSS WEBSITE LAYOUT */
/* CSS UNITS */
/* CSS SPECIFICITY */
/* CSS !IMPORTANT */
/* CSS MATH FUNCTIONS */

/* CSS ADVANCED */
/* CSS ROUNDED CORNERS */
/* CSS BORDER IMAGES */
/* CSS BACKGROUNDS */
/* CSS COLORS */
/* CSS COLOR KEYWORDS */
/* CSS GRADIENTS */
/* CSS SHADOWS */
/* CSS TEXT EFFECTS */
/* CSS WEB FONTS */
/* CSS 2D TRANSFORMS */
/* CSS 3D TRANSFORMS */
/* CSS TRANSITIONS */
/* CSS ANIMATIONS */
/* CSS TOOLTIPS */
/* CSS STYLE IMAGES */
/* CSS IMAGE REFLECTION */
/* CSS OBJECT-FIT */
/* CSS OBJECT-POSITION */
/* CSS MASKING */
/* CSS BUTTONS */
/* CSS PAGINATION */
/* CSS MULTIPLE COLUMNS */
/* CSS USER INTERFACE */
/* CSS VARIABLE */
/* CSS @PROPERTY */
/* CSS BOX SIZING */
/* CSS MEDIA QUERIES */
/* CSS MQ EXAMPLES */
/* CSS FLEXBOX */

/* CSS RESPONSIVE */
/* RWD INTRO */
/* RWD VIEWPORT */
/* RWD GRID VIEW */
/* RWD MEDIA QUERIES */
/* RWD IMAGES */
/* RWD VIDEOS */
/* RWD FRAMEWORKS */
/* RWD TEMPLATES */

/* CSS GRID */
/* GRID INTRO */
/* GRID CONTAINER */
/* GRID ITEM */

